.calculator{
    height: 340px;
    width: 280px;
    background-color: rgba(175, 165, 165, 0.548);
    margin: 0 auto;
    margin-top: 80px;
    padding: 10px;
    border: 1px solid #777;
}
.main-bar{
    margin-bottom: 20px;
    text-align: right;
}
.btn{
    font-size: 20px;
    cursor: pointer;
    width: 61px;

}
.line{
    margin-bottom: 10px;
}
#inp{
    font-size: 23px;
    font-weight: bold;
}